version: '3'
services:
  nessie:
    image: projectnessie/nessie:latest
    ports:
      - "19120:19120"
    networks:
      - trino-network

  minio:
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    networks:
      - trino-network

  mc:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c " until /usr/bin/mc alias set myminio http://minio:9000 admin password; do
        echo 'Waiting for MinIO...' && sleep 1;
      done; /usr/bin/mc mb myminio/lake-data || true; /usr/bin/mc policy set public myminio/lake-data; exit 0; "
    networks:
      - trino-network

networks:
  trino-network:
    driver: bridge
